{% extends 'base.html.twig' %}

{% block title %}Aktivacija korisnika{% endblock %}

{% block body %}

    <header></header>

    <div class="aktivacija postavke">
        <div class="container">
            <div class="row">
                {{ include('activate/_form.html.twig') }}
            </div>
        </div>
    </div>

    <footer></footer>

{% endblock %}
