<form method="post" action="{{ path('posudbe_delete', {'id': posudbe.id}) }}" onsubmit="return confirm('Jeste li sigurni da želite ukloniti posudbu?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ posudbe.id) }}">
    <button class="btn">Ukloni</button>
</form>
