{% extends 'base.html.twig' %}

{% block title %}Obavijesti{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="look">
        <img src="/files/pitcures/icons/notification.png">
        <h1>OBAVIJESTI</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="container-fluid postavke">
        <div class="row">
            <div class="notification">
                <p>Rok za Zlatarovo zlato istječe sutra, dd.mm.</p>
            </div>
            <div class="notification">
                <p>Knjiga Breza nije vraćena na vrijeme. Zakasnina trenutno iznosi # kn.</p>
            </div>
        </div>
    </div>
    <footer style="color: black;">
        Jumka books
    </footer>

{% endblock %}