{% extends 'base.html.twig' %}

{% block title %}Obavijesti{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="look">
        <img src="/files/pitcures/icons/notification.png">
        <h1>OBAVIJESTI</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="container-fluid postavke">
        {% for notifications in notification_layer %}
            {% for notification in notifications %}
            <div class="row">
                <div class="notification">
                    <p>{{ notification }}</p>
                </div>
            </div>

            {% endfor %}
        {% else %}
            <p>Nema obavijesti.</p>
        {% endfor %}
    </div>
    <footer style="color: black;">
        Jumka books
    </footer>

{% endblock %}