{% extends 'base.html.twig' %}

{% block title %}Moje Postavke{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="look">
        <img src="/files/pitcures/icons/settings.png">
        <h1>POSTAVKE</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="container-fluid postavke">
        <div class="row">
            <div>
                <h2>Obavijesti</h2>
            </div>
            <hr>
            <form method="post" action="{{ path('spremi_postavke') }}">
                <div class="obavijesti col-12 col-md-6 col-lg-4">
                    <div class="obavijest">
                        <p>Dan prije isteka rezervacije</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="istekRezervacije" type="checkbox" id="flexSwitchCheckDefault2"
                                    {% if korisnik.postavke.istekRezervacije is defined  %}
                                        checked
                                    {% endif %}
                            >DA
                        </div>
                    </div>
                    <div class="obavijest">
                        <p>Dan prije isteka roka za povratak</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="rokPovratka" type="checkbox" id="flexSwitchCheckDefault2"
                                    {% if korisnik.postavke.rokPovratka is defined  %}
                                        checked
                                    {% endif %}
                            >DA
                        </div>
                    </div>
                    <div class="obavijest">
                        <p>Odobreno produženje</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="odobrenoProduljenje" type="checkbox" id="flexSwitchCheckDefault3"
                                    {% if korisnik.postavke.odobrenoProduljenje is defined  %}
                                        checked
                                    {% endif %}
                                    >DA
                        </div>
                    </div>
                    <div class="obavijest">
                        <p>Iznos zakasnine svakih 7 dana</p>
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="iznosZakasnine" type="checkbox" id="flexSwitchCheckDefault4"
                                    {% if korisnik.postavke.iznosZakasnine is defined  %}
                                        checked
                                    {% endif %}
                            >DA
                        </div>
                    </div>

            </div>
            <div class="dodatne">
                <h2>Dodatne postavke</h2>
            </div>
            <hr>
            <div class="obavijesti col-12 col-md-6 col-lg-4">
                <div class="obavijest">
                    <p>Obavijesti mi šalji na e-mail</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" name="saljiEmail" type="checkbox" id="flexSwitchCheckDefault5"
                                {% if korisnik.postavke.saljiEmail is defined  %}
                                    checked
                                {% endif %}
                        >DA
                    </div>
                </div>
            </div>
                <div class="submit text-center">
                    <button class="btn btn-lg" type="submit">
                        spremi
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}