* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Actor', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
header{
    position: relative;
    width: 100%;
    z-index: 1;
    height: 10vh;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303C6C;
    color: white;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #B4DFE5;
    color: #B4DFE5;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

input.form-control{
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.selection{
    margin: 10% 0;
}

.main{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #D1FDFE;
    text-align: center;
}

.btn{
    background-color: #FBE8A6;
    border-color: #FBE8A6;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn.selected, .btn:hover, .btn:focus{
    background-color: #F4976C;
    border-color: #F4976C;
    color: white;
}

.btn.selected, .btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(244, 151, 108, 0.25);
}

.form-check{
    text-align: left;
}

#inputEmail{
    margin: 5% 0 3%;
}

#inputPassword{
    margin: 0 0 3%;
}

.remember{
    margin-bottom: 10%;
}

.btn-logins{
    margin-bottom: 3%;
    width: 8rem;
}

/*Korisnicka pocetna*/
.korisnicka-foto{
    border-radius: 50%;
    height: 80%;
}
.pocetna{
    justify-content: flex-end;
}
.ime-prezime{
    margin-right: 0.5rem;
}
.ime-prezime p{
    display: inline;
}
.skola{
    position: relative;
    width: 100%;
    z-index: 1;
    height: 10vh;
    background-color: #B4DFE5;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skola h1{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
.skola h2{
    font-size: 1rem;
}
.skola a, .icon{
    cursor: pointer;
    color: black;
    text-transform: none;
}
.skola i{
    font-size: 2rem;
}
.korisnik-main{
    position: relative;
    background-color: #D1FDFE;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#myLinks{
    display: none;
    position: absolute;
    top: 8.5vh;
    right: 2rem;
    width: 180px;
    background-color: white;
    text-align: right;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#myLinks img{
    width: 15%;
}
#myLinks a, #popular a{
    display: block;
    text-decoration: none;
}

.korisnik-footer{
    position: relative;
    height: 10vh;
    z-index: 1;
}


/*MARTA*/
.clear{
    position: static;
    margin: 30px;
    clear: both;
}

.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0px;
}

.izbornik-link{
    width: 100%;
}

.box1, .box2, .box3{
    width: 100%;
    position: relative;
}

.box1 p, .box3 p{
    display: inline-block;
    padding: 20px 130px 20px 20px;
    background-color: #FBE8A6;
    border-radius: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 17%;
    color: #303C6C;
    font-size: 24px;
    text-align: right;
}

.box1 img, .box3 img{
    display: inline;
    max-height: 110px;
    position: relative;
    float: right;
}

.box2 p{
    display: inline-block;
    padding: 20px 20px 20px 130px;
    background-color: #FBE8A6;
    border-radius: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 17%;
    color: #303C6C;
    font-size: 24px;
    text-align: left;
}

.box2 img{
    display: inline;
    max-height: 110px;
    position: relative;
    float: left;
}

/* Korisnicki profil */
.ime-slika{
    display: flex;
    align-items: center;
    height: 100%;
}
.home{
    height: 80%;
}
.look{
    height: 90%;
}
.home img, .look img{
    height: 100%;
    margin-right: 10px;
}
.look{
    display: flex;
    align-items: center;
}
.profile-main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
}
.profile-container{
    margin: 0 auto;
}
.profile-pic{
    height: 100px;
}
.podaci{
    margin: 1.5rem auto 0;
    width: 70%;
}
.podaci p{
    margin-bottom: 5px;
}
.qr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.qr-baby{
    background: #FBE8A6;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .profile-main{
        height: 100%;
    }
    .qr{
        margin: 20px 0 30%;
    }
    .qr-baby{
        width: 100%;
        height: 200px;
    }
}

/*POSTAVKE*/
.postavke h2{
    font-size: 1.25rem;
    margin-bottom: 0.1rem;
}
.postavke{
    background-color: #D1FDFE;
    height: 70vh;
    padding: 1.5rem;
}
.obavijest{
    display: flex;
    justify-content: space-between;
}
.dodatne{
    margin-top: 20px;
}

/*OBAVIJESTI*/
.notification {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px 0;
    display: flex;
    align-items: center;
}

/*PRETRAŽIVANJE*/
.trazi{
    height: 200vh;
}
.form-inline{
    display: flex;
    align-items: center;
}
.search-btn{
    margin:0 10px;
    height: 100%;
}
.search-btn img{

    width: 40px;
}
.triangle{
    width: 40px;
    height: 25px;
}
#popular{
    display: none;
    position: absolute;
    top: 32vh;
    right: 2rem;
    width: 140px;
    background-color: white;
    text-align: right;
    padding: 20px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
svg{
    margin-left: 5px;
}

.grade{
    margin: 20px 10px;
}

.grada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBE8A6;
    margin-top: 20px;
    padding: 10px 20px 10px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.naslov p{
    margin: 2px 10px;
}
.ime-knjige{
    font-weight: bold;
}
.autor{
    color: #525252;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4976C;
    padding: 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    color: white;
}

.nedostupno{
    color: #FBE8A6;
}
.nedostupno:hover{
    color: #FBE8A6;
}

.zanr p{
    margin: 0px 10px;
}

.sakriveno{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 10px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left:-100px;   /* negative half of width above */
    margin-top:-100px;
    background-color: #303C6C;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}
.popup a{
    margin: 0 10px;
    background: #B4DFE5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
}
.popup p{
    margin: 20px;
}

