* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Maiandra GD", sans-serif;
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
h1{
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
}
h2{
    font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
}
header{
    position: relative;
    width: 100%;
    z-index: 1;
    height: 10vh;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303C6C;
    color: white;
}
footer{
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #B4DFE5;
    color: black;
    min-height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

input.form-control{
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.selection{
    margin: 10% 0;
}

.main{
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #D1FDFE;
    text-align: center;
}

.btn{
    background-color: #FBE8A6;
    border-color: #FBE8A6;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn.selected, .btn:hover, .btn:focus{
    background-color: #F4976C;
    border-color: #F4976C;
    color: white;
}

.btn.selected, .btn:focus{
    box-shadow: 0 0 0 0.25rem rgba(244, 151, 108, 0.25);
}

.form-check{
    text-align: left;
}

#inputEmail{
    margin: 5% 0 3%;
}

#inputPassword{
    margin: 0 0 3%;
}

.remember{
    margin-bottom: 10%;
}

.btn-logins{
    margin-bottom: 10px;
    width: 8rem;
}

/*Korisnicka pocetna*/
.ime-knjiznice{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ime-knjiznice h1{
    font-weight: bold;
}
.ime-knjiznice h2{
    margin-bottom: 0;
}
.korisnicka-foto{
    border-radius: 50%;
    height: 70%;
}
.pocetna{
    justify-content: flex-end;
}
.ime-prezime{
    margin-right: 0.5rem;
}
.ime-prezime p{
    display: inline;
}
.skola{
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 10vh;
    background-color: #B4DFE5;
    padding: 0.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger{
    min-height: 10vh;
    display: flex;
    align-items: center;
}
.icon{
    height: 6vh;
}
.icon img{
    height: 6vh;
    transform: translateX(-2px);
}
.skola a, .icon{
    cursor: pointer;
    color: black;
    text-transform: none;
}
.skola i{
    font-size: 2rem;
}
.korisnik-main{
    position: relative;
    background-color: #D1FDFE;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#myLinks{
    display: none;
    position: absolute;
    top: 8.5vh;
    right: 2rem;
    width: 250px;
    background-color: white;
    text-align: right;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 100;
}
#myLinks img{
    width: 10%;
    transform: translateY(-10%);
}
#myLinks a, #popular a{
    display: block;
    text-decoration: none;
}


/*MARTA*/
.container{
    max-width: 500px;
}

.clear{
    position: static;
    margin: 30px;
    clear: both;
}

.izbornik-link{
    width: 100%;
}

.box1, .box2, .box3{
    width: 100%;
    position: relative;
}

.box1 p, .box3 p{
    display: inline-block;
    padding: 20px 130px 20px 20px;
    background-color: #FBE8A6;
    border-radius: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 17%;
    color: #303C6C;
    font-size: 24px;
    text-align: right;
    box-shadow: 0px 4px 1px #bebebe;
    z-index: 0;
    min-width: 300px;
}

.box1 img, .box3 img{
    display: inline;
    max-height: 110px;
    position: relative;
    float: right;
    filter: drop-shadow(0px 4px 1px #bebebe);
    z-index: 1;
}

.box2 p{
    display: inline-block;
    padding: 20px 20px 20px 130px;
    background-color: #FBE8A6;
    border-radius: 40px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    left: 0;
    top: 17%;
    color: #303C6C;
    font-size: 24px;
    text-align: left;
    box-shadow: 0px 4px 1px #bebebe;
    z-index: 0;
}

.box2 img{
    display: inline;
    max-height: 110px;
    position: relative;
    float: left;
    filter: drop-shadow(0px 4px 1px #bebebe);
    z-index: 1;
}

.gumbic1{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #F4976C;
    border-radius: 50%;
    float: right;
    z-index: 1;
    box-shadow: 0px 3px 1px #bebebe;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gumbic2{
    position: relative;
    height: 40px;
    width: 40px;
    background-color: #F4976C;
    border-radius: 50%;
    float: left;
    z-index: 1;
    box-shadow: 0px 3px 1px #bebebe;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Korisnicki profil */
.ime-slika{
    display: flex;
    align-items: center;
    height: 100%;
}
.home-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home a{
    height: 100%;
    display: block;
}
.home img{
    transform: translateY(25%);
}
.look{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.look h1{
    margin: 0;
}
.home img, .look img{
    height: 70%;
    margin-right: 10px;
}
.profile-main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
}
.profile-container{
    margin: 0 auto;
}
.profile-pic{
    height: 150px;
}
.podaci{
    margin: 5% auto 0;
    width: 70%;
}
.podaci p{
    margin-bottom: 5px;
}
.qr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.qr-baby{
    background: white;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qr-baby img{
    width: 90%;
    height: 50%;
}

@media screen and (max-width: 770px){
    .qr{
        margin: 10% auto;
    }
}

/*POSTAVKE*/
.postavke{
    background-color: #D1FDFE;
    min-height: 70vh;
    padding: 1.5rem;
}
.obavijest{
    display: flex;
    justify-content: space-between;
}
.dodatne{
    margin-top: 20px;
}

/*OBAVIJESTI*/
.notification {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 10px 0;
    display: flex;
    align-items: center;
}

/*PRETRAŽIVANJE*/
.trazi{
    min-height: 70vh;
    background-color: #D1FDFE;

}
.form-inline{
    display: flex;
    align-items: center;
    width: 100%;
}
.search-btn{
    margin: 0 10px;
    height: 100%;
    border-radius: 50%;
    border: none;
    transform: translateX(20%);
}
.search-btn img{
    height: 7vh;
}
.triangle{
    width: 40px;
    height: 25px;
}
#popular{
    display: none;
    position: absolute;
    z-index: 1;
    top: 32vh;
    right: 2rem;
    width: 140px;
    background-color: white;
    text-align: right;
    padding: 20px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
svg{
    margin-left: 5px;
}

.grade{
    margin: 1.5rem;
}

.grada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBE8A6;
    margin-top: 20px;
    padding: 10px 20px 10px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.naslov p{
    margin: 2px 10px;
}
.ime-knjige{
    font-weight: bold;
}
.autor{
    color: #525252;
}
.status{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4976C;
    padding: 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    color: white;
}

.nedostupno{
    color: #FBE8A6;
}
.nedostupno:hover{
    color: #FBE8A6;
}

.zanr p{
    margin: 0px 10px;
}

.sakriveno{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.popup, .produzi-rez{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-left:-125px;   /* negative half of width above */
    margin-top:-125px;
    background-color: #303C6C;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    z-index: 1;
    padding: 5px;
}
.popup a, .produzi-rez a{
    margin: 0 10px;
    background: #B4DFE5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
}
.popup p{
    margin-bottom: 30px;
}

/* REZERVIRANO */
.rezervirano{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cross{
    width: 30px;
}
.produzi{
    background-color: #B4DFE5;
    padding: 5px;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.produzi-rez{
    z-index: 1;
}
.produzeno, .produzeno:hover{
    color: #6B6B6B;
}

.qr-posudeno{
    width: 80%;
    height: 50%;
}

/*ALERT*/
.alert{
    margin-bottom: 0;
}


