{% extends 'base.html.twig' %}

{% block title %}Dodavanje autora{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/pisciround.png">
    <h1>DODAVANJE NOVOG AUTORA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="container">
            <div class="row">
                {{ include('autori/_form.html.twig') }}

                <a href="{{ path('autori_index') }}">
                    <button class="btn knjiznice-btn" style="margin-top: 10px;">
                        Natrag na popis autora
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
