<form method="post" action="{{ path('korisnici_delete', {'id': korisnici.id}) }}" onsubmit="return confirm('Želite li ukloniti ovog korisnika?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ korisnici.id) }}">
    <button class="btn knjiznice-btn" style="margin-top: 10px">Ukloni</button>
</form>
