{% extends 'base.html.twig' %}

{% block title %}Uređivanje korisnika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/person.png">
    <h1>UREĐIVANJE KORISNIKA</h1>
{% endblock %}

{% block body %}

    {{ include('korisnici/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('korisnici_index') }}">natrag na popis korisnika</a>

    {{ include('korisnici/_delete_form.html.twig') }}

{% endblock %}
