{% extends 'base.html.twig' %}

{% block title %}Uređivanje korisnika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/person.png">
    <h1>UREĐIVANJE KORISNIKA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">

        <div class="container">
            <div class="row">
                <div class="col-12">

                    {{ include('korisnici/_form.html.twig',
                        {'button_label': 'Pohrani promjene'}) }}

                    {{ include('korisnici/_delete_form.html.twig') }}

                    <a href="{{ path('korisnici_index') }}">
                        <button class="btn knjiznice-btn">
                            Natrag na popis korisnika
                        </button>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
