{% extends 'base.html.twig' %}

{% block title %}Dodavanje korisnika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/person.png">
    <h1>NOVI KORISNIK</h1>
{% endblock %}

{% block body %}

         include('korisnici/_form.html.twig') }}

        <button class="btn">
            <a href="{{ path('korisnici_index') }}">natrag na popis korisnika</a>
        </button>
{% endblock %}
