{% extends 'base.html.twig' %}

{% block title %}Dodavanje korisnika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/person.png">
    <h1>NOVI KORISNIK</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="container">
            <div class="row">
                {{ include('korisnici/_form.html.twig') }}
            </div>
            <a href="{{ path('korisnici_index') }}">
                <button class="btn knjiznice-btn" style="margin-top: 10px;">
                    Natrag na popis korisnika
                </button>
            </a>
        </div>
    </div>

{% endblock %}
