<form method="post" action="{{ path('drzave_delete', {'id': drzave.id}) }}" onsubmit="return confirm('Jeste li sigurni da želite ukolniti državu?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drzave.id) }}">
    <button class="btn">Ukloni</button>
</form>
