{% extends 'base.html.twig' %}

{% block title %}Uređivanje statusa{% endblock %}

{% block body %}
    <h1>Uredi status</h1>

    {{ include('statusi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('statusi_index') }}">natrag na popis statusa</a>

    {{ include('statusi/_delete_form.html.twig') }}
{% endblock %}
