{% extends 'base.html.twig' %}

{% block title %}New Statusi{% endblock %}

{% block body %}
    <h1>Dodaj novi status</h1>

    {{ include('statusi/_form.html.twig') }}

    <a href="{{ path('statusi_index') }}">natrag na popis statusa</a>
{% endblock %}
