{% extends 'base.html.twig' %}

{% block title %}Uređivanje izdavača{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/izdavacround.png">
    <h1>UREĐIVANJE IZDAVAČA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="container">
            <div class="row">
                {{ include('izdavaci/_form.html.twig', {'button_label': 'Pohrani promjene'}) }}
            </div>
            <a href="{{ path('izdavaci_index') }}">
                <button class="btn knjiznice-btn" style="margin-top: 10px;">
                    Povratak na listu izdavača
                </button>
            </a>
            {{ include('izdavaci/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
