{% extends 'base.html.twig' %}

{% block title %}Novi izdavač{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/izdavacround.png">
    <h1>DODAVANJE NOVOG IZDAVAČA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="container">
            <div class="row">
                {{ include('izdavaci/_form.html.twig') }}
            </div>
            <a href="{{ path('izdavaci_index') }}">
                <button class="btn knjiznice-btn" style="margin-top: 10px;">
                    Povratak na popis izdavača
                </button>
            </a>
        </div>
    </div>
{% endblock %}
