{% extends 'base.html.twig' %}

{% block title %}New Izdavaci{% endblock %}

{% block body %}
    <h1>Create new Izdavaci</h1>

    {{ include('izdavaci/_form.html.twig') }}

    <a href="{{ path('izdavaci_index') }}">back to list</a>
{% endblock %}
