{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stranica nije pronađena</h1>

    <p>
        Tražena stranica nije pronađena. Provjerite URL
        ili <a href="{{ app.request.getSchemeAndHttpHost() }}">se vratite u izbornik</a>.
    </p>
{% endblock %}