{% extends 'base.html.twig' %}

{% block title %}Edit Jezici{% endblock %}

{% block body %}
    <h1>Edit Jezici</h1>

    {{ include('jezici/_form.html.twig', {'button_label': 'Update'}) }}

    <button class="btn knjiznice-btn">
        <a href="{{ path('jezici_index') }}">Povratak na listu</a>
    </button>

    {{ include('jezici/_delete_form.html.twig') }}
{% endblock %}
