{% extends 'base.html.twig' %}

{% block title %}New Jezici{% endblock %}

{% block body %}
    <h1>Create new Jezici</h1>

    {{ include('jezici/_form.html.twig') }}

    <a href="{{ path('jezici_index') }}">back to list</a>
{% endblock %}
