{% extends 'base.html.twig' %}

{% block title %}Novi jezik{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/jezikround.png">
    <h1>DODAVANJE NOVOG JEZIKA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="container">
            <div class="row">
                {{ include('jezici/_form.html.twig') }}
            </div>
            <a href="{{ path('jezici_index') }}">
                <button class="btn knjiznice-btn" style="margin-top: 10px;">
                    Povratak na listu jezika
                </button>
            </a>
        </div>
    </div>
{% endblock %}
