{% extends 'base.html.twig' %}

{% block title %}Uredi knjigu{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <div class="look">
        <img src="/files/pitcures/icons/pretraziIcon.png">
        <h1>UREDI KNJIGU</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="container">
            <div class="row">
                {{ include('gradja/_form.html.twig', {'button_label': 'Pohrani promjene'}) }}

                <a href="{{ path('gradja_index') }}">
                    <button class="btn knjiznice-btn" style="margin-top: 10px;">
                        Povratak na popis knjiga
                    </button>
                </a>

                {{ include('gradja/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
